.rotating-wrapper-black,
.rotating-wrapper-red,
.rotating-wrapper-blue {
  animation: rotate-around 13s linear infinite;
  position: absolute;
  transform-origin: center center;
}

.rotating-icon {
  animation: rotate-on-its-own 40s linear infinite;
}

@keyframes rotate-around {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotate-on-its-own {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.maindiv {
  animation: rotate-around-axis 20s linear infinite;
}

@keyframes rotate-around-axis {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Ensure central images remain static */
.central-image {
  transform: translate(-50%, -50%);
}
